asgiref==3.11.1
beautifulsoup4==4.15.0
brotli==1.2.0
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.2
Django==6.0.6
gunicorn==26.0.0
h11==0.16.0
idna==3.18
packaging==26.2
psycopg==3.3.4
psycopg-binary==3.3.4
python-dotenv==1.2.2
requests==2.34.2
soupsieve==2.8.4
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.7.0
uvicorn==0.49.0
whitenoise==6.12.0
