{% extends "registros/base.html" %}
{% load static %}

{% block title %}Buscador avanzado de registros sanitarios ISP{% endblock %}

{% block content %}
<h1>Buscador avanzado de registros sanitarios ISP</h1>
<form hx-get="{% url 'registros:search' %}" hx-target="#results" id="search-form">
    <input
        type="text"
        name="nombre"
        placeholder="Nombre del producto"
    >
    <input
        type="text"
        name="nombre_pa"
        placeholder="Principio activo"
    >
    <input
        type="text"
        name="titular"
        placeholder="Titular"
    >
    <input
        type="text"
        name="registro"
        placeholder="Número de registro"
    >
    <input
        type="text"
        name="resolucion"
        placeholder="Resolución"
    >
    <br>
    <input
        type="text"
        name="descripcion"
        placeholder="Descripción del envase"
    >
    <br>
    <select name="estado">
        <option value="">Estado</option>
        {% for value, key in estado_choices %}
            <option value="{{value}}">{{key}}</option>
        {% endfor %}
    </select>
    <select name="equivalencia">
        <option value="">Equivalencia Terapéutica o Biosimilar</option>
        {% for value, key in equivalencia_choices %}
            <option value="{{value}}">{{key}}</option>
        {% endfor %}
    </select>
    <select name="condicion_venta">
        <option value="">Condición de Venta</option>
        {% for value, key in condicion_venta_choices %}
            <option value="{{value}}">{{key}}</option>
        {% endfor %}
    </select>
    <select name="control_legal">
        <option value="">Control Legal</option>
        {% for value, key in control_legal_choices %}
            <option value="{{value}}">{{key}}</option>
        {% endfor %}
    </select>
    <br>
    <select name="regimen">
        <option value="">Regimen</option>
        {% for regimen in regimen_choices %}
            <option value="{{regimen}}">{{regimen}}</option>
        {% endfor %}
    </select>
    <select name="via_administracion">
        <option value="">Vía de Administración</option>
        {% for via in via_administracion_choices %}
            <option value="{{via}}">{{via}}</option>
        {% endfor %}
    </select>
    <select name="condicion_almacenamiento">
        <option value="">Condición de Almacenamiento</option>
        {% for condicion in condicion_almacenamiento_choices %}
            <option value="{{condicion}}">{{condicion}}</option>
        {% endfor %}
    </select>
    <select name="periodo_eficacia">
        <option value="">Periodo de Eficacia</option>
        {% for periodo in periodo_eficacia_choices %}
            <option value="{{periodo}}">{{periodo}}</option>
        {% endfor %}
    </select>
    <br>
    <select name="funcion" id="funcion-empresa">
        <option value="">Función de empresa</option>
        {% for funcion in funcion_choices %}
            <option value="{{funcion}}">{{funcion}}</option>
        {% endfor%}
    </select>
    <input
        type="text"
        name="razon_social"
        placeholder="razón social de la empresa"
        id="razon-social-input"
        disabled
    >
    <select name="pais" id="pais-select" disabled>
        <option value="">País</option>
        {% for pais in pais_choices %}
            <option value="{{pais}}">{{pais}}</option>
        {% endfor%}
    </select>
    <br>
    <label>Fecha de inscripción:</label>
    <input type="date" name="inscripcion_from">
    <span>hasta</span>
    <input type="date" name="inscripcion_to">
    <br>
    <br>
    <label>Fecha de última renovación:</label>
    <input type="date" name="ultima_renovacion_from">
    <span>hasta</span>
    <input type="date" name="ultima_renovacion_to">
    <br>
    <br>
    <label>Fecha de próxima renovación:</label>
    <input type="date" name="prox_renovacion_from">
    <span>hasta</span>
    <input type="date" name="prox_renovacion_to">
    <br>
    <button type="submit">Buscar</button>
</form>

<div id="results">
    {% include "registros/partials/results.html" %}
</div>

<script src="{% static 'registros/js/search-form.js' %}" defer></script>

{% endblock %}